.safe {
    color: #fc4fff;
    font-weight: 700;
}

.header {
    /* background-color: #dbdbdb; */
    height: 120px;
    background-image: url("https://wallpaperaccess.com/full/1105644.jpg");
}

.App {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.check {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 10px 8px 32px 40px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: 500;
    color: rgb(32, 25, 37);
}

.btn--close {
    background-color: transparent;
    border: none;
}